body {
	background-color: white;
	text-align: center;
	font-family: Rockwell;
	color: black;
	font-size: 30px;
}
.container1 {
	display:grid;
}
#nav-bar {
	list-style: none;
	padding: 0;
	margin: 10px;
	text-align: center;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(4,1fr);
}
.button {
	background: #e9ccb1;
	color: white;
	padding: 10px;
	font-size: 20px;
}
.button:hover {
	background: white;
	color: #e9ccb1;
}
a {
	text-decoration: none;
}
.main {
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 1fr 1fr fr 1fr;
	padding:0;
	margin-bottom: 0;
	font-family: Arial;
}
.pic-left{
	margin: 0;
	padding: 0;
	display: grid;
	grid-gap: 0px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.pic-left-first {
	padding: 0;
	text-align:center;
}
.pic-left-second {
	padding: 0;
	text-align:center;
}
.showcase{
	margin-bottom: 10px;
	padding: 120px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../images/about/details2.jpg);
}
